# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Env
.env
.venv/

#hydra
outputs/

# Heavy files
.cache/
data/
artifacts/*.pt  
artifacts/*.pth
!artifacts/*.onnx # Only accept lightweights files
wandb/          # Logs Weights & Biases
*.safetensors
experiments/

#TMP files
*.out