name: CI/CD Pipeline - Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  # ====================================================
  # JOB 1 : TESTS 
  # ====================================================
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
          virtualenvs-create: true
          virtualenvs-in-project: true
    - name: Install PyTorch CPU
      run: |
        pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
        
    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Security Scan with Bandit
      run: poetry run bandit -r src/ scripts/ -ll -ii

    - name: Run Unit Tests 
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: poetry run pytest -v 

   